.header__time {
  margin: 0;
  padding: 0;
  color: rgb(12, 50, 146);
  font-family: 'inter';
  font-style:  normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;  
}

@media screen and (max-width: 767px) {
  .header__time {
    font-size: 8px;
  }
}

@media screen and (max-device-width: 767px) {
  .header__time {
    font-size: 8px;
  }
}