.header__tel {
  margin: 0;
  padding: 0;
  color: rgb(12, 50, 146);
  font-family: 'inter';
  font-style:  normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__tel {
    font-size: 16px;
  }
}

@media screen and (max-device-width: 767px) {
  .header__tel {
    font-size: 16px;
  }
}