.header__slogan {
  margin: 0;
  padding: 0;
  color: rgb(12, 50, 146);
  font-family: 'inter';
  font-style:  normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  align-self: center;
}

@media all and (width < 767px) {
  .header__slogan {
    display: none;
  }
}  