.module__list {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 150px;
  left: 100px;
  color: rgb(12, 50, 146);
  font-family: 'inter';
  font-style:  normal;
  font-weight: 400;
  font-size: 22px;
} 

li {
  margin-bottom: 8px
 }
 @media screen and (max-width: 1024px) {
  .module__list {
    top: 90px;
    left: 20px; 
    font-size: 15px;
  }

  li {
    margin-bottom: 4px;
    max-width: 60vw;
  }
}

 @media screen and (max-device-width: 1024px) {
  .module__list {
    top: 90px;
    left: 20px; 
    font-size: 15px;
  }

  li {
    margin-bottom: 4px;
    max-width: 80vw;
  }
}

