.menu {
  margin: 0 auto 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  min-width: 320px;
  background-color: rgb(12, 50, 146);
  border-radius: 10px;
}

.menu__element {
  margin: 10px 30px;
  padding: 0;
  color: white;
  font-family: 'inter';
  font-style:  normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border: 0;
  background-color:rgb(12, 50, 146);
  opacity: 0.6;
}

.menu__element_checked {
  opacity: 1;
}

.menu__element:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .menu__element {
    margin: 10px 10px;
    font-size: 14px;
  }
}

@media screen and (max-device-width: 1023px) {
  .menu__element {
    margin: 10px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  
  .menu {
    flex-wrap: wrap;
    justify-content: start;
  }

  .menu__element {
    margin: 10px 5px;
    font-size: 10px;
  }
}

@media screen and (max-device-width: 768px) {
  
  .menu {
    flex-wrap: wrap;
    justify-content: start;
  }

  .menu__element {
    margin: 10px 5px;
    font-size: 10px;
  }
}